body {
    margin: 0; padding: 0;
    background: #fafafa;
    color: #333;
  font-family: 'Exo 2', sans-serif;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header {
  margin-bottom: 50px;
}
h1, .stats {
  font-family: 'Exo 2', sans-serif;
  text-align: right;
  display: inline-block;
}
h1 {
  margin: 10px 20px;
}
.stats {
  float:right;
}
.stats p {
  margin: 0 20px;
  width: 100px;
  display: inline-block;
}
span.description {
  display: block;
}

.hum, .discomfort, .temp {
  font-weight: bold;
  font-size: 36px;
}
.small {
  font-size: 26px;
  margin-left: 5px;
}
.date {
  font-size: 18px;
  position: relative;
  top: -8px;
}
.stats i {
  position: relative;
  top: -12px;
  font-size: 36px;
}
.stats .fa-smile-o {
  color: #5DB371;
}
.stats .fa-meh-o {
  color: #EE8653;
}
.stats .fa-frown-o {
  color: #D73B37;
}
.tip {
  text-align: center;
  font-style: italic;
  color: #777;
}
.hover {
  position: absolute;
  z-index: 9999;
  background: #5DB371;
  opacity: 0.9;
  width: 250px;
  padding: 10px 20px;
  margin: 0 auto;
  color: #fff;
  border-radius: 3px;
  top: 300px;
  left: 38%;
}
